.search-form {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--theme-body-bg);
    margin: 0 auto 30px;
} 

.search-form input {
    background: whitesmoke;
    border: solid 3px mediumslateblue;
    border-radius: 0px;
    padding: 8px;
}

.search-form select {
    background: whitesmoke;
    border: solid 3px mediumslateblue;
    border-radius: 0px;
    padding: 7px;
}

.search-form .btn {
    border: solid 3px mediumslateblue;
    border-radius: 0px;
    padding: 8px;
}