.gf-header {
    display: flex;
    justify-content: flex-end;
}

.gf-header a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
}

.gf-header a:hover {
    color: mediumslateblue;
}

.gf-header a + a {
    margin: 0 12px;
  }