.centerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    max-width: 320px;
    width: 100%;
}

.form label{
    display: block;
    font-size: 14px;
    text-align: left;
}

.form input{
    background: #fff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 16px;
    margin-top: 4px;
    padding: 2px 10px;
    width: 100%;
}

.form input.error {
    border: 1px solid red;
}

.form-error{
    color: red;
    font-size: 12px;
    display: block;
}

.form .btn{
    width: 100%;
}

.form button:hover {
    background: rgba(124, 104, 238, 0.553);
}