.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content{
  width: 90%;
  border: 3px blue solid;
}

.btn {
  background: mediumslateblue;
  border: solid 1px whitesmoke;
  border-radius: 6px;
  cursor: pointer;
  padding: 16px;
}

.btn[disabled] {
  opacity: .3;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
